<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F21</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBluetoothHIDKeyboard</string>
	<key>CFBundleGetInfoString</key>
	<string>176.2</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBluetoothHIDKeyboard</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>176.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>176.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D543f</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14E40</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D543f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Wireless Keyboard 2004 ANSI</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DisablePoweredOffCheck</key>
			<true/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>520</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2004 ISO</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DisablePoweredOffCheck</key>
			<true/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>521</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2004 JIS</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DisablePoweredOffCheck</key>
			<true/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>522</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2007 ANSI</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>2007KeyboardCriticalLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>2007KeyboardLowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>2007KeyboardConnected</string>
			<key>DisconnectionNotificationType</key>
			<string>2007KeyboardDisconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>556</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2007 ISO</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>2007KeyboardCriticalLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>2007KeyboardLowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>2007KeyboardConnected</string>
			<key>DisconnectionNotificationType</key>
			<string>2007KeyboardDisconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>557</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2007 JIS</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>2007KeyboardCriticalLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>2007KeyboardLowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.IOBluetoothHIDDriver</string>
			<key>ConnectionNotificationType</key>
			<string>2007KeyboardConnected</string>
			<key>DisconnectionNotificationType</key>
			<string>2007KeyboardDisconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>IOAppleBluetoothHIDDriver</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>ProductID</key>
			<integer>558</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 ANSI</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>569</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 B ANSI</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>597</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 B ISO</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>598</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 B JIS</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>599</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 ISO</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>570</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>Wireless Keyboard 2009 JIS</key>
		<dict>
			<key>BatteryDangerouslyLowNotificationType</key>
			<string>CriticallyLowBattery</string>
			<key>BatteryLowNotificationType</key>
			<string>LowBattery</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBluetoothHIDKeyboard</string>
			<key>ConnectionNotificationType</key>
			<string>Connected</string>
			<key>DebuggingOn</key>
			<false/>
			<key>DisconnectionNotificationType</key>
			<string>Disconnected</string>
			<key>ExtendedFeatures</key>
			<dict>
				<key>BatteryPercent</key>
				<dict>
					<key>id</key>
					<integer>71</integer>
					<key>max</key>
					<integer>100</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>BatteryState</key>
				<dict>
					<key>id</key>
					<integer>48</integer>
					<key>max</key>
					<integer>2</integer>
					<key>min</key>
					<integer>0</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>DeviceName1</key>
				<dict>
					<key>id</key>
					<integer>81</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName2</key>
				<dict>
					<key>id</key>
					<integer>82</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName3</key>
				<dict>
					<key>id</key>
					<integer>83</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceName4</key>
				<dict>
					<key>id</key>
					<integer>84</integer>
					<key>size</key>
					<integer>8</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>DeviceNameChange</key>
				<dict>
					<key>id</key>
					<integer>80</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>69</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>FullFactoryDefault</key>
				<dict>
					<key>id</key>
					<integer>68</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>LongDeviceName</key>
				<dict>
					<key>id</key>
					<integer>85</integer>
					<key>size</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>RecantConnection</key>
				<dict>
					<key>id</key>
					<integer>65</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>UserMode</key>
				<dict>
					<key>id</key>
					<integer>67</integer>
					<key>max</key>
					<integer>3</integer>
					<key>min</key>
					<integer>1</integer>
					<key>size</key>
					<integer>1</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>WillShutdown</key>
				<dict>
					<key>id</key>
					<integer>64</integer>
					<key>type</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>AppleBluetoothHIDKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOBluetoothL2CAPChannel</string>
			<key>PSM</key>
			<integer>17</integer>
			<key>PoweredOffNotificationType</key>
			<string>KeyboardOff</string>
			<key>ProductID</key>
			<integer>571</integer>
			<key>SetReportTimeoutMS</key>
			<integer>3500</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleHIDKeyboard</key>
		<string>1.1.9</string>
		<key>com.apple.driver.IOBluetoothHIDDriver</key>
		<string>1.7.3</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.6.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d2</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
